
* {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
    text-decoration: none;
    list-style: none;
}
.ota{
    display: flex;
   justify-content: space-between;
   background-color: rgb(24, 3, 44);
   color: white;
}
.box2{
    display: flex;
    margin-left: 30px;
}
select{
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    outline: none;
    color: white;
    background-color: rgb(24, 3, 44) ;
    text-align: center;
}
select:hover{
    background-color: black;
}
.box1{
    background-color: #BFAFF2;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-top: 5px;
}
.header__elements{
    display: flex;
   margin-right: 50px;
   gap: 30px;
}
nav{
    /* margin-left: 100px; */
   background-color:  rgb(24, 3, 44);
    /* margin-top: 50px; */
}
.ota1{
    display: flex;
    gap: 70px;
}
.ota2{
    display: flex;
   background-color: rgb(24, 3, 44) ;
   gap: 50px;
   
}
.text{
    margin-top: 25px;
   margin-left: 1000px;
   gap: 100px;
  color: white;
}
.box3{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}
.box4{
    color: white;
    margin-right: 30px;
}
.box5{
    color: white;
    margin-right: 30px;
}
.box6{
    color: white;
    
}